@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.back {
  background-image: url(../../Assets/Hungryboy.png);
  width: 100%;
  height: 92.5vh;
  background-attachment: fixed;
  background-size: cover;
}
.over {
  width: 100%;
  height: 92.5vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
}
.over h3 {
  position: absolute;
  left: 18.89%;
  right: 14.72%;
  top: 120px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #d1d1d1;
}
.Areas {
  position: absolute;
  left: 50%;
  top: 250px;
  transform: translate(-50%, 0%);
  width: 500px;
  font-family: Poppins;
  font-size: 25px;
  text-align: center;
  color: #939393;
  box-shadow: 0px 0px 7px 3px rgba(226, 56, 56, 0.68);
}
.send_loc {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 330px;
  width: 250px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #95001b;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}
.send_loc:hover {
  background-color: #95001b;
}
@media (max-width: 600px) {
  .Areas {
    position: absolute;
    top: 290px;
    width: 370px;
  }
  .send_loc {
    position: absolute;
    top: 370px;
    width: 200px;
  }
}
