.background {
  background-image: url("../../Assets/pexels-jimmy-chan-1657936.png");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}
.over-lay {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
}
.over-lay h2 {
  position: absolute;
  left: 18%;
  right: 14.72%;
  top: 55px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #d1d1d1;
}
.inputarea {
  position: absolute;
  left: 33%;
  top: 240px;
  width: 500px;
  font-family: Poppins;
  font-size: 25px;
  text-align: center;
  color: #939393;
  border: none;
  box-shadow: 0px 0px 7px 3px rgba(226, 56, 56, 0.68);
}
.inpLabel h3 {
  position: absolute;
  left: 33%;
  top: 180px;
  width: 500px;
  font-family: Poppins;
  font-size: 20px;
  color: white;
}
.inpLabel h6 {
  position: absolute;
  left: 33%;
  top: 265px;
  width: 500px;
  font-family: Poppins;
  font-size: 10px;
  color: white;
}
.inpLabel2 .l2 {
  position: absolute;
  left: 36%;
  top: 330px;
  width: 500px;
  font-family: Poppins;
  font-size: 20px;
  color: white;
}
.inpLabel2 .l3 {
  position: absolute;
  left: 36%;
  top: 400px;
  width: 500px;
  font-family: Poppins;
  font-size: 20px;
  color: white;
}
.children {
  position: absolute;
  left: 33%;
  top: 330px;
  width: 25px;
  height: 25px;
  border: none;
  box-shadow: 0px 0px 7px 3px rgba(226, 56, 56, 0.68);
}
.senior_citizen {
  position: absolute;
  left: 33%;
  top: 400px;
  width: 25px;
  height: 25px;
  border: none;
  box-shadow: 0px 0px 7px 3px rgba(226, 56, 56, 0.68);
}
.submit_btn {
  position: relative;
  left: 550px;
  top: 450px;
  width: 250px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #95001b;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}
.submit_btn:hover {
  background-color: #95001b;
}
