* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.background {
  background-image: url("../../Assets/pexels-jimmy-chan-1657936.png");
  width: 100%;
  height: 92.5vh;
  background-attachment: fixed;
  background-size: cover;
}
.thanksmessage {
  display: none;
  color: red;
  position: absolute;
  top: 20px;
  text-align: center;
  width: 100%;
}
.over-lay {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.over-lay h2 {
  /* position: absolute; */
  /* left: 18%; */
  /* right: 14.72%; */
  /* top: 55px; */
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #d1d1d1;
}
.inputarea {
  /* position: absolute; */
  /* left: 33%; */
  /* top: 240px; */
  width: 500px;
  font-family: Poppins;
  font-size: 20px;
  text-align: center;
  color: #939393;
  border: none;
  box-shadow: 0px 0px 7px 3px rgba(226, 56, 56, 0.68);
}
.inpLabel2 {
  margin: 20px;
}
.inpLabel h3 {
  /* position: absolute; */
  /* left: 33%; */
  /* top: 180px; */
  width: 500px;
  font-family: Poppins;
  font-size: 15px;
  color: white;
}
.inpLabel h6 {
  /* position: absolute; */
  /* left: 33%; */
  /* top: 265px; */
  width: 500px;
  font-family: Poppins;
  font-size: 10px;
  color: white;
}
.inpLabel2 .l2 {
  /* position: absolute;
  left: 36%;
  top: 330px; */
  width: 500px;
  font-family: Poppins;
  font-size: 15px;
  color: white;
}
.inpLabel2 .l3 {
  /* position: absolute;
  left: 36%;
  top: 400px; */
  width: 500px;
  font-family: Poppins;
  font-size: 15px;
  color: white;
}
.children {
  /* position: absolute;
  left: 33%;
  top: 330px; */
  width: 25px;
  height: 25px;
  border: none;
  box-shadow: 0px 0px 7px 3px rgba(226, 56, 56, 0.68);
  /* margin: auto; */
}
.senior_citizen {
  /* position: absolute;
  left: 33%;
  top: 400px; */
  width: 25px;
  height: 25px;
  border: none;
  box-shadow: 0px 0px 7px 3px rgba(226, 56, 56, 0.68);
}
.submit_btn {
  /* position: relative;
  left: 550px;
  top: 450px; */
  width: 250px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #95001b;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  display: block;
  margin: auto;
}
.submit_btn:hover {
  background-color: #95001b;
}
@media (max-width: 600px) {
  .inputarea,
  .inpLabel2,
  .l3.inpLabel2 .l2,
  .inpLabel h6,
  .inpLabel h3 {
    width: 70vw;
  }
}
