* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ourstory {
  text-align: center;
  margin: 4% 0 7% 0;
  padding: 3% 10% 3% 10%;
}
#heading {
  padding-bottom: 2.5%;
  color:  #95001b;
  font-size: 60px;
  font-family: "poppins", serif;
}
#story {
  color: rgb(0, 0, 0);
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-size: 1.1em;
  line-height: 1.3em;
}
.users h1{
  padding-bottom: 2.5%;
  color:  #95001b;
  font-size: 40px;
  font-family: "poppins", serif;
}
.points {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(../../Assets/download.jpg);
  margin-top: 5%;
  margin-bottom: 5%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid1 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4em;
  text-align: center;
  padding: 8% 4% 3% 4%;
}
.item h1 {
  color: rgba(255, 255, 255, 0.842);
  font-family: "poppins", cursive;
  font-weight: 600;
  padding-bottom: 3%;
  font-size: 2.2em;
}

.item h2 {
  padding-top: 0%;
  color: rgba(255, 255, 255, 0.918);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}
.grid2 {
  display: grid;
  margin: 5%;
  border-radius: 4px;
  grid-template-columns: 0.6fr 2fr;
  border: rgba(0, 0, 0, 0.301) solid 1px;
  box-shadow: rgba(0, 0, 0, 0.13) 0 0 15px 1px;
  background-color: #f4f4f4b4;
}

.grid3 {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;

  padding: 1% 3% 3% 3%;
  background: -webkit-linear-gradient(left, #95001b, black);
}
.item2 {
  border-right: white solid 1px;
  text-align: center;
}
.item2:last-child {
  border: none;
}
.item2 h1 {
  font-size: 4em;
  color: rgba(255, 255, 255, 0.89);
  margin-bottom: 3%;
}
.item2 h2 {
  font-size: 1em;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  #story {
    font-size: 0.8em;
  }
  .points {
    width: 100vw;
    margin: 0;
    height: 100%;
    padding-bottom: 7%;
  }
  .grid1 {
    display: block;
  }
  .item h1 {
    font-size: 1.3em;
    margin-bottom: 1%;
  }
  .item h2 {
    font-size: 1em;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  .grid2 {
    display: block;
    text-align: center;
    padding-right: 6%;
  }

  .grid3 {
    width: 100vw;
    grid-auto-rows: 90px;
    margin: 0;

    margin-top: 10%;
    padding: 4% 0;
    grid-gap: 0;
  }

  .item2 h1 {
    font-size: 1.8em;
  }
  .item2 h2 {
    font-size: 0.8em;
    width: 100%;
  }
}
