@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.back-img {
  background-image: url(../../assets/Hungryboy.png);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}
.overlay {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
}
.overlay h1 {
  position: absolute;
  left: 50px;
  top: 130px;
  font-family: Poppins;
  color: #d1d1d1;
  font-weight: 600;
  font-size: 80px;
}
.overlay span {
  color: #ea4260;
}
.overlay h3 {
  position: absolute;
  left: 50px;
  top: 270px;
  font-family: Poppins;
  color: #d1d1d1;
  font-weight: 600;
  font-size: 30px;
}
.overlay button {
  position: absolute;
  left: 50px;
  top: 380px;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #95001b;
  color: #ffffff;
  cursor: pointer;
}
.overlay button:hover {
  background-color: #95001b;
}
