* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: absolute;
  top: 0;
}
.open {
  display: block;
}
.close {
  display: none;
}
.navlinks {
  background-color: rgba(149, 0, 27, 1);
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  width: 100vw;
}
.navlinks a {
  text-decoration: none;
  color: aliceblue;
}
#company {
  margin-right: 40%;
  font-weight: bold;
}
#company:hover {
  color: rgb(255, 255, 255);
}
.navlinks li {
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.navlinks li:hover {
  color: rgb(184, 184, 184);
}
a {
  text-decoration: none;
}
/* mediaquery for responsiveness at 700px */
@media (max-width: 800px) {
  .navlink {
    font-size: 0.7rem;
  }
}
/* mediaquery for responsiveness at 500px */
@media (max-width: 500px) {
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    top: 8px;
    left: 22px;
    z-index: 200;
  }
  .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: rgba(149, 0, 27, 1);
    color: black;
    z-index: 20;
  }
  .line.open {
    background-color: white;
  }
  .navlink {
    font-size: 1rem;
  }
  .navlinks {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(149, 0, 27, 1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0px;
    z-index: 2;
    -webkit-clip-path: circle(0px at 0% 90%);
    clip-path: circle(0px at 90% 0%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    pointer-events: none;
  }
  .navlinks.open {
    -webkit-clip-path: circle(800px at 0% 90%);
    clip-path: circle(800px at 0% 90%);
    pointer-events: all;
  }
  #company {
    position: absolute;
    left: auto;
    right: auto;
    top: 3.5%;
    margin: 0;
    font-size: 20px;
  }
}
