* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.cardmaindiv {
  position: relative;
  width: 500px;
  height: 150px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #a82727;
}
.foodbankname {
  background-color: #9c001c;
  padding: 1px 5px 1px 130px;
  color: aliceblue;
  margin: 0px;
  border-radius: 10px 10px 0 0;
}
.foodbankimage {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 20px;
  left: 10px;
}
.foodbankdetails {
  color: #885454;
  padding: 1px 5px 1px 130px;
}
.foodbackmoto {
  margin: 2px;
  font-weight: 500;
}
.foodbankcontact {
  margin-top: 4px;
}
.viewwebsite {
  background-color: #9c001c;
  width: 100px;
  height: 20px;
  text-align: center;
  color: aliceblue;
  padding-top: 5px;
  font-size: 10px;
  float: right;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 0px 0px 10px 0px;
}
.viewwebsite a {
  text-decoration: none;
  color: aliceblue;
}
@media (max-width: 600px) {
  .cardmaindiv {
    width: 90vw;
    height: 120px;
    font-size: 10px;
  }
  .foodbankimage {
    width: 100px;
    height: 100px;
    top: 10px;
  }
  .foodbackmoto {
    max-width: 300px;
  }
}
