* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  /* position: absolute; */
  /* bottom: 0; */
  color: white;
  background-color: rgba(149, 0, 27, 1);
  padding: 1% 3%;
  font-family: "poppins";
  width: 100%;
}
.right {
  justify-self: end;
}
h2 {
  font-size: 0.85rem;
  font-weight: lighter;
  padding-bottom: 1%;
}
hr {
  color: white;
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
@media (max-width: 428px) {
  h2 {
    font-size: 0.7rem;
  }
}
