@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.Login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(45rad, #95001b, black);
  font-family: "Nunito", sans-serif;
}
.Login input,
button {
  border: none;
  outline: none;
  background: none;
}
.Container-SignUp {
  overflow: hidden;
  position: relative;
  width: 560px;
  height: 600px;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.Container-Login {
  overflow: hidden;
  position: relative;
  width: 560px;
  height: 480px;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.form {
  position: relative;
  /* width: 640px; */
  height: 100%;
  padding: 30px 30px;
}
.form h2 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.form label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}

.form label span {
  font-size: 14px;
  font-weight: 600;
  color: #505f75;
  text-transform: uppercase;
}

.form input {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(109, 93, 93, 0.4);
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.form button {
  display: block;
  margin: 30px auto 0px auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.submit {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  background: -webkit-linear-gradient(left, #95001b, black);
}

.submit:hover {
  background: -webkit-linear-gradient(left, black, #95001b);
}

.question {
  margin-top: 40px;
  margin-bottom: -10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #0c0101;
}
.sign-up-link {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #0c0101;
  cursor: pointer;
  margin-top: 20px;
}
.sign-up-link:hover {
  color: green;
}
@media (max-width: 600px) {
  .Container-Login,
  .Container-SignUp {
    width: 80vw;
  }
  .form label,
  .form button {
    width: 80%;
  }
}
